<h1>TMI</h1> 
<br><%= link_to '마이페이지', '/mypage'%>
<br><%= link_to '글쓰기', '/post/new'%>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.tag %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>


Search Results


<% if @posts.present? %>

<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>


<%= link_to 'New Post', new_post_path %>
<%= link_to "Change your password", edit_user_registration_path %>