메인페이지입니다
<a href="/posts/new">글쓰기</a>
<a href="/mypage">마이페이지</a>
<form action="/search" method="get">
<input type="text" name="title" id="title">
<input type="submit" value="검색">
</form>

<hr>
<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

    <% @posts.each do |post| %>
        <div>
            <%= post.title %>
        </div>
        <div>
            <%= post.content %>
        </div>
        <div>
            <%= post.tag %>
        </div>
      <hr> 
    <% end %>

<br>



<%= link_to '게시하기', new_post_path %>
<%= link_to "Change your password", edit_user_registration_path %>