<h1>TMI</h1>
<%= link_to '글쓰기', new_post_path %>
<a href="/mypage">마이페이지</a>
<form action="/search" method="get">
  <input type="text" name="title" id="title">
  <input type="submit" value="검색">
</form>

<hr>
<p id="notice">
  <%= notice %>
</p>

<h1>Listing Posts</h1>

<% @posts.each do |post| %>

<%= link_to(post) do %>
<div>
  <%= post.title %>
</div>
<% end %>
<div>
  <%= post.content %>
</div>
<div>
  <%= post.tag %>
</div>
<div>
  <%= post.user%>
</div>
<hr>
<% end %>

<br>